<h1>Editing Account Registration</h1>

<%= render 'form', account_registration: @account_registration %>

<%= link_to 'Show', @account_registration %> |
<%= link_to 'Back', account_registrations_path %>
