<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @account_registration.email %>
</p>

<%= link_to 'Edit', edit_account_registration_path(@account_registration) %> |
<%= link_to 'Back', account_registrations_path %>
